square {
    height: 9vh;
}

.darkgrey {
    background-color: darkgray;
}

.black {
    background-color: #000000;
}

.orangered {
    background-color: orangered;
}

.yellow {
    background-color: #FECC19;
}